.bouncing-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 18px 0; /* 20px 0 * 0.9 */
}

.bouncing-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bouncing-spinner > div {
  width: 9px; /* 10px * 0.9 */
  height: 9px; /* 10px * 0.9 */
  background-color: black; /* Light mode default */
  border-radius: 100%;
  display: inline-block;
  margin: 0 2.7px; /* 0 3px * 0.9 */
  animation: bouncing-sk-bouncedelay 1.4s infinite ease-in-out both;
}

.bouncing-spinner.white > div {
  background-color: white !important;
}

body.dark-mode .bouncing-spinner > div {
  background-color: #00c07f;
}

.bouncing-spinner .bounce1 {
  animation-delay: -0.32s;
}

.bouncing-spinner .bounce2 {
  animation-delay: -0.16s;
}

@keyframes bouncing-sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
