/* src/index.css */
body {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9fafb;
  color: #333;
  font-size: 15px;
}

/* Adding explicit font-family to button and input elements to override browser defaults */
button,
input,
textarea,
select {
  font-family: "Outfit", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

i,
i::before,
i::after {
  margin: 0 !important;
  padding: 0 !important;
}
